[Unit]
Description=Запуск HA Failure Notifier каждые 5 минут

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=10s
Unit=ha-failure-notifier.service

[Install]
WantedBy=timers.target
