[Unit]
Description=Run HA Failure Notifier every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=10s
Unit=ha-failure-notifier.service

[Install]
WantedBy=timers.target
