[Unit]
Description=Запуск HA Watchdog каждые 2 минуты

[Timer]
OnBootSec=30
OnUnitActiveSec=2min
AccuracySec=5s
Unit=ha-watchdog.service

[Install]
WantedBy=timers.target
